<nav class="navbar navbar-expand-lg p-4 navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">
        {% load static %}
        <img src="{% static 'homepage/nav/logo/logo.png' %}" alt="डिजिटल किराना बाँकी खाता " style="height: 20vh; width: 20vw">
    </a>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'lekhnethaun' %}">लेख्ने ठाउँँ </a>
    </li>

      <a style="color: black !important" class="nav-link">स्वागत छ <u>{{user.first_name}} जी
      </u> </a>
        
   
  </nav>