<nav class="navbar navbar-expand-lg p-4 navbar-light bg-light">
    <a class="navbar-brand" href="#">
        {% load static %}
        <img src="{% static 'homepage/nav/logo/logo.png' %}" alt="डिजिटल किराना बाँकी खाता " style="height: 30vh; width: 30vw">
    </a>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'lekhnethaun' %}">लेख्ने ठाउँँ </a>
    </li>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  
  </nav>