@import url("https://fonts.googleapis.com/css2?family=Itim&family=Yellowtail&display=swap");
#login_user {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://scontent.fbir1-1.fna.fbcdn.net/v/t1.6435-9/125291069_1519674744906175_1118245805079907232_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=pNSU9TEWGZsAX_kRnv9&_nc_ht=scontent.fbir1-1.fna&oh=00_AT_UnwRj1pEXFURAuKVfKV49pF59_RbjwHaBLNaTrPjt3A&oe=62190B5C")
    no-repeat 30vw -30vh / cover;
  height: 100vh;
}

::selection {
  background: greenyellow;
  color: black;
}
#loginformwrapper {
  font-family: "Yellowtail", cursive;
  min-height: 40vh;
  min-width: 40vw;
  padding: 2rem;
  margin: 1rem;
  background: black;
  color: white;
  border-top-right-radius: 30px;
  box-shadow: inset -2px 2px 2px white;
}
#loginformwrapper input,
label {
  font-size: 40px;
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
}
#loginformwrapper input[type="text"],
input[type="password"] {
  border: 0px;
  box-shadow: 5px 5px 5px white;
  font-family: "Itim", cursive;
  color: greenyellow;
}
input[type="submit"] {
  margin: 1rem 0;
  background: rgba(100, 200, 255, 0.7);
  color: white;
}
input:focus {
  outline: none;
  background: black;

  color: white;
}
@media (max-width: 700px) {
  #login_user {
    background-position: center 50vh;
  }
  #loginformwrapper {
    min-height: 50vh;
    width: 100vw;
    margin: 0;
    background: rgba(0, 0, 0, 0.7);
  }

  #login_user {
    align-items: flex-start;
  }
}
@media (max-width: 500px) {
  #login_user {
  }
}
